:root {
  --spike-count: 10; /* Adjust this to control spike count */
}

body {
  margin: 0;
  background-color: black;
  font-family: sans-serif;
}

.header {
  background-color: #a000ff;
  text-align: center;
  position: relative;
}

.header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.zigzag {
  display: block;
  width: 100%;
  height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

